@import 'tailwindcss';
@import 'tw-animate-css';

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.1443 0.0047 263.7373);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.1443 0.0047 263.7373);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.1443 0.0047 263.7373);
  --primary: oklch(0.5812 0.1716 253.6606);
  --primary-foreground: oklch(0.9848 0 0);
  --secondary: oklch(0.7458 0.1852 150.646);
  --secondary-foreground: oklch(0.9848 0 0);
  --muted: oklch(0.9671 0.0029 264.542);
  --muted-foreground: oklch(0.5513 0.0233 264.3647);
  --accent: oklch(0.9684 0.0068 247.8951);
  --accent-foreground: oklch(0.5513 0.0233 264.3647);
  --destructive: oklch(0.6368 0.2078 25.3259);
  --destructive-foreground: oklch(0.9848 0 0);
  --border: oklch(0.929 0.0126 255.5317);
  --input: oklch(0.929 0.0126 255.5317);
  --ring: oklch(0.5812 0.1716 253.6606);
  --chart-1: oklch(0.5812 0.1716 253.6606);
  --chart-2: oklch(0.7458 0.1852 150.646);
  --chart-3: oklch(0.5939 0.1532 298.5594);
  --chart-4: oklch(0.8012 0.1378 81.5452);
  --chart-5: oklch(0.5964 0.1903 33.1614);
  --sidebar: oklch(0.9193 0.0093 256.6912);
  --sidebar-foreground: oklch(0.1443 0.0047 263.7373);
  --sidebar-primary: oklch(0.5812 0.1716 253.6606);
  --sidebar-primary-foreground: oklch(0.9848 0 0);
  --sidebar-accent: oklch(0.9684 0.0068 247.8951);
  --sidebar-accent-foreground: oklch(0.5513 0.0233 264.3647);
  --sidebar-border: oklch(0.929 0.0126 255.5317);
  --sidebar-ring: oklch(0.5812 0.1716 253.6606);
  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Playfair Display', serif;
  --font-mono: 'Fira Code', monospace;
  --radius: 0.5rem;
  --shadow-x: 0rem;
  --shadow-y: 0.2rem;
  --shadow-blur: 0.5rem;
  --shadow-spread: 0.1rem;
  --shadow-opacity: 0.1;
  --shadow-color: hsl(210, 40%, 80%);
  --shadow-2xs: 0rem 0.2rem 0.5rem 0.1rem hsl(210 40% 80% / 0.05);
  --shadow-xs: 0rem 0.2rem 0.5rem 0.1rem hsl(210 40% 80% / 0.05);
  --shadow-sm:
    0rem 0.2rem 0.5rem 0.1rem hsl(210 40% 80% / 0.1),
    0rem 1px 2px -0.9px hsl(210 40% 80% / 0.1);
  --shadow:
    0rem 0.2rem 0.5rem 0.1rem hsl(210 40% 80% / 0.1),
    0rem 1px 2px -0.9px hsl(210 40% 80% / 0.1);
  --shadow-md:
    0rem 0.2rem 0.5rem 0.1rem hsl(210 40% 80% / 0.1),
    0rem 2px 4px -0.9px hsl(210 40% 80% / 0.1);
  --shadow-lg:
    0rem 0.2rem 0.5rem 0.1rem hsl(210 40% 80% / 0.1),
    0rem 4px 6px -0.9px hsl(210 40% 80% / 0.1);
  --shadow-xl:
    0rem 0.2rem 0.5rem 0.1rem hsl(210 40% 80% / 0.1),
    0rem 8px 10px -0.9px hsl(210 40% 80% / 0.1);
  --shadow-2xl: 0rem 0.2rem 0.5rem 0.1rem hsl(210 40% 80% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1443 0.0047 263.7373);
  --foreground: oklch(0.9848 0 0);
  --card: oklch(0.1443 0.0047 263.7373);
  --card-foreground: oklch(0.9848 0 0);
  --popover: oklch(0.1443 0.0047 263.7373);
  --popover-foreground: oklch(0.9848 0 0);
  --primary: oklch(0.633 0.162 252.0695);
  --primary-foreground: oklch(0.1443 0.0047 263.7373);
  --secondary: oklch(0.766 0.1717 151.9203);
  --secondary-foreground: oklch(0.1443 0.0047 263.7373);
  --muted: oklch(0.2784 0.0296 256.848);
  --muted-foreground: oklch(0.742 0.0496 260.183);
  --accent: oklch(0.2784 0.0296 256.848);
  --accent-foreground: oklch(0.9848 0 0);
  --destructive: oklch(0.3959 0.1331 25.7205);
  --destructive-foreground: oklch(0.9848 0 0);
  --border: oklch(0.2784 0.0296 256.848);
  --input: oklch(0.2784 0.0296 256.848);
  --ring: oklch(0.633 0.162 252.0695);
  --chart-1: oklch(0.633 0.162 252.0695);
  --chart-2: oklch(0.766 0.1717 151.9203);
  --chart-3: oklch(0.6725 0.1571 299.0488);
  --chart-4: oklch(0.8592 0.1219 83.162);
  --chart-5: oklch(0.665 0.1743 33.0744);
  --sidebar: oklch(0.2077 0.0145 264.1874);
  --sidebar-foreground: oklch(0.9848 0 0);
  --sidebar-primary: oklch(0.633 0.162 252.0695);
  --sidebar-primary-foreground: oklch(0.1443 0.0047 263.7373);
  --sidebar-accent: oklch(0.2784 0.0296 256.848);
  --sidebar-accent-foreground: oklch(0.9848 0 0);
  --sidebar-border: oklch(0.2784 0.0296 256.848);
  --sidebar-ring: oklch(0.633 0.162 252.0695);
  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Playfair Display', serif;
  --font-mono: 'Fira Code', monospace;
  --radius: 0.5rem;
  --shadow-x: 0rem;
  --shadow-y: 0.3rem;
  --shadow-blur: 0.8rem;
  --shadow-spread: 0.2rem;
  --shadow-opacity: 0.5;
  --shadow-color: hsl(210, 40%, 10%);
  --shadow-2xs: 0rem 0.3rem 0.8rem 0.2rem hsl(210 40% 10% / 0.25);
  --shadow-xs: 0rem 0.3rem 0.8rem 0.2rem hsl(210 40% 10% / 0.25);
  --shadow-sm:
    0rem 0.3rem 0.8rem 0.2rem hsl(210 40% 10% / 0.5),
    0rem 1px 2px -0.8px hsl(210 40% 10% / 0.5);
  --shadow:
    0rem 0.3rem 0.8rem 0.2rem hsl(210 40% 10% / 0.5),
    0rem 1px 2px -0.8px hsl(210 40% 10% / 0.5);
  --shadow-md:
    0rem 0.3rem 0.8rem 0.2rem hsl(210 40% 10% / 0.5),
    0rem 2px 4px -0.8px hsl(210 40% 10% / 0.5);
  --shadow-lg:
    0rem 0.3rem 0.8rem 0.2rem hsl(210 40% 10% / 0.5),
    0rem 4px 6px -0.8px hsl(210 40% 10% / 0.5);
  --shadow-xl:
    0rem 0.3rem 0.8rem 0.2rem hsl(210 40% 10% / 0.5),
    0rem 8px 10px -0.8px hsl(210 40% 10% / 0.5);
  --shadow-2xl: 0rem 0.3rem 0.8rem 0.2rem hsl(210 40% 10% / 1.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.custom-tooltip {
  border: 1px solid hsl(var(--border));
  border-radius: var(--radius);
}
